# Build
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store

# Env
.env
run.sh

# JVM crash logs
hs_err_pid*.log

extract-data-from-image-icr
docs